body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fork-me {
  display: none;
}
.github-logo {
  height: 40px;
}

.app {
  text-align: center;
  height: 100vh;
  background: #E0F2F1;
}

.app-card {
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.mdl-layout__header {
  display: block;
  background: #009688;
}

.mdl-button--primary {
  background: #009688 !important;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 



} 

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .fork-me {
    display: block;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

