.App {
  text-align: center;
}

.spinner-wrapper {
  text-align: center;
}
.spinner {
  display: inline-block;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}